*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #ff7002; */
}

#body{
background-color: #ff7002;
}

#navbar{
margin-top: 10px;
/* border: 2px solid yellow ; */
height: 100px;
display: flex;
justify-content: space-between;
align-items: center;
color: white;
}

#leftportion {
/* border: 2px solid blue; */
height: 60px;
margin-left: 80px;
}

#rightportion {
/* border: 2px solid pink; */
margin-right: 100px;
width: 700px;
height: 75px;
display: flex;
justify-content: center;
align-items: center;
font-size: 18px;
font-weight: 750;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
gap: 20px;;
}

#rightportion div{
    /* border:2px solid green; */
    display: flex;
}


img {
    /* background-color: black; */
    height: 50px;
    width: 160px;
}

a{
    color: white;
    text-decoration: none;
   
}

.buttons {
  /* border: solid black; */
}

.btn1, .btn2 {
  display: inline-block;
  padding: 15px 15px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
  margin-right: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn1 {
  color: white;
  border: 1px solid white;
  background-color: transparent;
}

.btn2 {
  color: white;
  background-color: black;
  border: none;
  padding: 15px 36px;
  margin-left: 22px;
}

#centerbar{
    /* border: 2px solid white; */
    height: 250px;
    width: 1000px;
    margin-left: 260px;
    margin-top: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

#boldtext{
    /* border: 2px solid black; */
    height: 130px;
    width: 700px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: white;
    text-align: center;
    font-size: 44px;
}

#inputbar{
    /* border: 2px solid yellow; */
    width: 900px;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

#input1{
    background-color: white;
    height: 58px;
    width: 280px;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    border: none;
}
#input2{
    background-color: white;
    height: 58px;
    width: 460px;
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    text-align: start;
    text-indent:20px;
    border-radius: 10px;
    border: none;
}

/* div{
    border: 2px solid black;   
} */

#center_image{
    display: flex;
    justify-content:center;
}

#center_image img{
    height: 350px;
    width: 380px; 
}

div #left_image{
    /* border: 2px solid black; */
    height: 500px;
    width: 215px;
    position:absolute;
    top: 120px;
    z-index: 3;
}

div #right_image{
    /* border: 2px solid black; */
    height: 480px;
    width: 215px;
    position: absolute;
    top: 110px;
    right: 0px;
    z-index: 3;
}

#imagesection img{
    height: 280px;
    width: 1520px;
    margin-bottom: 40px;
}

#fooddelivery{
    margin-top: 20px;
    /* border: 2px solid red; */
    height: 230px;
    width: 1070px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 225px;
    margin-bottom: 10px;
}
h2{
/* border: 1px solid; */
height: 32px;
width: 1065px;
margin-left: 230px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#fooddelivery a{
    border: 1px solid rgba(0, 0, 0, 0.359);
    border-radius: 10px;
    color: black;
    height: 45px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

#fooddelivery a div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 5px;
    font-size: 14px;
    font-weight: 500;
}

#fooddelivery a h4{
    color: #e2360f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: 900;
}

#footer{
    /* border: 1px solid red; */
    background-color:rgb(240, 240, 245);
    height: 380px;
    width: 1520px;
    display: flex;
    padding: 35px;
    justify-content: center;
    gap: 30px;
    font-size: 14x;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* align-items: center; */
}
#footer .footsection{
    /* border: 1px solid black; */
    height: 300px;
    width: 200px;
}
#footer a{
    color: black;
}

ul {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}
#download{
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    margin-bottom: 25px;
    background-color:rgb(240, 240, 245);
    padding-top: 25px;
}
.play{
height: 52px;
width: 160px;
}

.play:hover{
    height: 53px;
    width: 162px;
}